
body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  padding-top: 100px;
  background: #fff url(../images/background.jpg) no-repeat top 75%;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #125AA7; }
a:hover           { color: #000; }
blockquote        { color: #666; }

pre {
  background: #eee;
  border:     1px solid #ddd;
}

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

p.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header p.title { font-size: 3em; line-height: 1; margin-bottom: 1em; }

.event { 
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
}
.event .date { font-weight: bold; }
.event .timetable .slot { width: 150px; text-align: right;}

.event.odd { background-color: #F9DE94; }
.event.even  { background-color: #D3D7D6; }

.event h2 { font-weight: bolder; }
.event-1 h2, .event-1 .registration a { color: #62003A; }
.event-2 h2, .event-2 .registration a { color: #394F98; }
.event-3 h2, .event-3 .registration a { color: #377D88; }
.event-4 h2, .event-4 .registration a { color: #EB4338; }
.event-5 h2, .event-5 .registration a { color: #461F43; }
.event-6 h2, .event-6 .registration a { color: #009C26; }
.event-7 h2, .event-7 .registration a { color: #C20016; }
.event-8 h2, .event-8 .registration a { color: #6A5269; }
.event-9 h2, .event-9 .registration a { color: #62003A; }
.event-10 h2, .event-10 .registration a { color: #F46300; }
.event-11 h2, .event-11 .registration a { color: #44569B; }

.calender-title { font-size: 22px; display: block; font-weight: bolder; }
.calender-title .year { color: #E8000E; font-size: 32px; font-weight: bolder; }
.gew-title { color: #182369; font-size: 32px; display: block; font-weight: bolder; }
.events-title { color: #89A0A7; font-size: 42px; display: block; font-weight: bolder; }

.kauffman-logo { margin: 25px 25px 40px; }

/* EOF */
